.addProducts{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.leftBar{

height: 700px;
width: 300px;
background-color:skyblue;
margin-top: 0;

}

#link, #brand{
    text-align: center;
    
}
.Fullform{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(195, 212, 245);
}

#formHeader{

    text-align: center;
}
#submit{

    background-color: blue;
    color: aliceblue;
    margin-left: 140px;
}

.rightBar{


}


@media only screen and (max-width: 600px) {
    .addProducts {
      
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }