.home{
display: grid;
grid-template-columns: repeat(3, 1fr);
background-color: rgb(204, 229, 240);

}
.link{

font-size: 20px;
margin-left: 8px;
}

#login{
    background-color:rgb(66, 241, 241);
    
}
#brand{
  font-size: 30px;
  font-weight: 800;
  color: crimson;
}

#navbar{
    background-color:rgb(152, 212, 236);
}


@media only screen and (max-width: 600px) {
    .home {
      
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }